* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: rgb(5, 5, 5);
  font-size: 1.3rem;
  font-style: normal;
  user-select: none;
}

.btn:hover, .themebtn:hover {
  border-bottom: 4px solid #000000;
  background-color: white;
  cursor: pointer;
}

.output {
  margin: 1rem auto;
  height: 100px;
  border: 2px solid black;
  border-radius: 0.8rem;
  max-width: 90%;
}

.btn {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 20%;
  margin: 6px 6px;
  height: 58px;
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}

.flex-r {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#input {
  font-weight: 700;
  padding: 4px;
  text-align: right;
  height: 2.5rem;
}

#result {
  font-size: 2rem;
  padding: 4px;
  text-align: right;
  height: 3.2rem;
}

.flex {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#equal {
  font-size: 2rem;
  width: 44%;
}

.section {
  margin: 0.5rem auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 1rem;
  height: 600px;
  max-width: 420px;
}

.sea-bg {
  background-color: #cfe5ff;
}

.sea-accent {
  background-color: #96c5ff;
}

.desert-bg {
  background-color: #fff3dd;
}

.desert-accent {
  background-color: #e2be7c;
}

.dark-bg {
  filter: invert(100%);
  background-color: #1e1b33;
}

.dark-accent {
  background-color: #433698;
}

.nature-bg {
  background-color: rgb(218, 255, 240);
}

.nature-accent {
  background-color: rgb(143, 215, 186);
}

#footer {
  border-top: 2px solid black;
}

#githubBtn {
  width: 4rem;
}

.themebtn {
  border-radius: 4px;
  font-size: 1.1rem;
  margin: 0.5rem;
  margin-top: 1rem;
  border: 2px solid black;
  width: 4rem;
  max-width: 7rem;
  height: 2rem;
}